---
import TeamCard from "./TeamCard.astro";
---

<section class="full_bleed">
  <article>
    <h1>Our team</h1>
    <p class="bold">We champion the bold to achieve the extraordinary</p>
    <p>Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team.</p>
  </article>
  <div class="theTeam">
    <TeamCard imagePath="/src/assets/employee.png" altText="Sarah Jasmine" variant="yellow" title="CEO at Company" name="Sarah Jasmine" disription="Leverage agile frameworks to provide a robust synopsis for high level overviews." />
    <TeamCard imagePath="/src/assets/employee2.png" altText="John Carter" variant="black" title="Manager" name="John Carter" disription="Leverage agile frameworks to provide a robust synopsis for high level overviews." />
    <TeamCard imagePath="/src/assets/employee3.png" altText="Daisy Stella" variant="black" title="CEO at Company" name="Sarah Jasmine" disription="Leverage agile frameworks to provide a robust synopsis for high level overviews." />
  </div>
</section>

<style>
  section {
    container: main-content / inline-size;

    display: grid;
    grid-template-columns: [full-start] 1fr [content] minmax(0, var(--content-width)) 1fr [full-end];
    column-gap: 1rem;
    background-color: #f5f5f5;

    /* Alle direkte børn starter på col 2 */
    > * {
      grid-column: content;
      margin-top: 6.25rem;
    }

    .full_bleed {
      grid-column: full;
    }

    article {
      display: flex;
      flex-direction: column;
      h1 {
        color: var(--color-text-big);
        font-family: var(--copy-font);
        font-size: var(--font-size-1);
        line-height: var(--lineheight-2);
        letter-spacing: var(--letter-space-s);
        padding: 0rem 0.6875rem;
        background: var(--bg-color-yellow);
        width: fit-content;
        text-transform: uppercase;
        border-radius: 1.25rem;
        margin-bottom: 1.38rem;
      }
      .bold {
        color: var(--color-text-big);
        font-family: var(--h-font);
        font-size: var(--font-size-4);
        font-weight: var(--font-weight-3);
        line-height: 3.263rem;
        max-width: 31.125rem;
        padding-bottom: 0.69rem;
      }
      p {
        color: var(--color-text-p);
        font-size: var(--font-size-1);
        line-height: var(--lineheight-2);
        max-width: 40.1875rem;
      }
    }

    .theTeam {
      margin-top: 2.75rem;
      display: flex;
      gap: 3.1875rem;
      margin-bottom: 6.25rem;
    }
  }

  @media (max-width: 1200px) {
    .theTeam {
      margin-bottom: 4rem;
      overflow-x: auto;
      grid-column: 1 /-1;
      padding-inline: 2rem;
    }
  }
</style>
